%% -*- erlang -*-
%% Config file for fnotify-application
{deps_dir, ["deps"]}.
{erl_opts, [debug_info, fail_on_warning]}.
%% {erl_opts, [debug_info, fail_on_warning, {d,debug}]}.
{sub_dirs, ["src"]}.

{port_env, [
	    {"darwin", "CFLAGS", "$CFLAGS -Wall -arch i386 -arch x86_64"},
	    {"darwin", "LDFLAGS", "$LDFLAGS -arch i386 -arch x86_64"}
	    ]}.

{port_specs, [
	      {"(linux|freebsd|darwin)", "priv/fnotify_drv.so",
	       ["c_src/fnotify_drv.c"]}
	     ]}.
